<div class="container px-4 py-5">
  <h2 class="pb-2 border-bottom">Simple Question Dashboard</h2>
      <div class="row g-5 py-5 row-cols-1 row-cols-lg-4">
        <div class="feature col">
          <h2><%= @total_user %></h2>
          <p>Total of Users</p>
        </div>
        <div class="feature col">
          <h2><%= @total_question %></h2>
          <p>Total of Questions</p>
        </div>
        <div class="feature col">
          <h2><%= @total_answer %></h2>
          <p>Total of Answers</p>
        </div>
        <div class="feature col">
          <h2><%= @total_api_call %></h2>
          <p>Total of API called</p>
        </div>
      </div>
    </div>
</div>
